/* header */
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3F1FF;
}

.custom-container{
    max-width: 807px;
    background-color: #fff;
    padding: 35px 30px;
    border-radius: 5px;
    margin: 35px auto 20px; 
}

h2.heading{
    font-size: 30px;
    color: #5148F9;
}

header.header{
    background-color: #5148F9 ;
}

.navbar-nav  .nav-item .nav-link{
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    margin-right: 10px;
}


/* top player */
.top{

}
.player-img{
    width: 56px;
    height: 56px;
}

.top h4{
    font-size: 20px;
}